<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css">
<style>
label, input,button,select {
  display: inline-block;
}
input, button,select {
  width:80%;
}
 label {
  width:15%;
}
</style>
</head>
<body>

<div class="page">
  <div class="center-button">
  <button onclick="updateResults()" style="display: block;">Refresh</button>
  <br>
  <!--<button onclick="rmvAll()" style="display: block;" disabled>Show</button>-->
  <select id="fi" onchange="changeTimeFilter(this.selectedIndex, this.value)" style="display: block;">
    <option value="100000">Show all data</option>
    <option value="0">Show only new data</option>
    <option value="1">Show data from last month</option>
    <option value="3">Show data from last 3 Months</option>
    <option value="6">Show data from last 6 Months</option>
    <option value="12">Show data from last year</option>
</select>
  <br>
  <br>
</div>
  <div class="container">
        <div class="left">
          <div id="deep">
          </div>
          <br>
        </div>
        <div class="right">
          <div id="simple">
          </div>
          <br>
        </div>
  </div>
</div>

<script>

var timeFilter = getCookie("filter");
if (!timeFilter){}
if(timeFilter === ""){
  timeFilter="0/0"
}

document.getElementById("fi").selectedIndex = timeFilter.split('/')[0];


function changeTimeFilter(selectedIndex, selectedValue){
  if(selectedIndex == 0){
    timeFilter="0/0";
  }else{
    const currentTime = new Date().getTime();
    const startDate = new Date(currentTime);
    startDate.setMonth(startDate.getMonth() - selectedValue);

    timeFilter=Math.floor(startDate / 1000);;
    timeFilter=selectedIndex+"/"+timeFilter
  }
  updateResults();
}


var refreshRate = parseInt(new URLSearchParams(window.location.search).get("refresh"));

if (!refreshRate){
  refreshRate = getCookie("refresh");
  if (!refreshRate){
    refreshRate = 15;
  }
  history.pushState(null, null, window.location.href + "?refresh="+refreshRate);
}

var deepDiv = document.getElementById("deep");
var simpleDiv = document.getElementById("simple");


function updateResults(filter) {
    fetch('/results/all?filter='+timeFilter, { method: 'POST'})
    .then(response => response.json())
    .then(data => {
        // Clear the existing content
        deepDiv.innerHTML = '';
        simpleDiv.innerHTML = '';

        if (data == null){
          return
        }
        // Loop through the data and add the new content
        data.forEach(function(value) {

        var div = document.createElement("div")

        var label = document.createElement("label")
        label.innerHTML = "IP and Time:"
        var input = document.createElement("input")
        input.type = "text"
        input.value = value.IP+ "\t\t\t"+ value.BrowserTime
        input.disabled = true
        div.appendChild(label);
        div.appendChild(input);
        div.appendChild(document.createElement("br"));

        var label = document.createElement("label")
        label.innerHTML = "Url:"
        var input = document.createElement("input")
        input.type = "text"
        input.value = value.Location
        input.disabled = true
        div.appendChild(label);
        div.appendChild(input);
        div.appendChild(document.createElement("br"));

        var label = document.createElement("label")
        label.innerHTML = "Origin:"
        var input = document.createElement("input")
        input.type = "text"
        input.value = value.Origin
        input.disabled = true
        div.appendChild(label);
        div.appendChild(input);
        div.appendChild(document.createElement("br"));

        var label = document.createElement("label")
        label.innerHTML = "Referer:"
        var input = document.createElement("input")
        input.type = "text"
        input.value = value.Referrer
        input.disabled = true
        div.appendChild(label);
        div.appendChild(input);
        div.appendChild(document.createElement("br"));

        var label = document.createElement("label")
        label.innerHTML = "User Agent:"
        var input = document.createElement("input")
        input.type = "text"
        input.value = value.UserAgent
        input.disabled = true
        div.appendChild(label);
        div.appendChild(input);
        div.appendChild(document.createElement("br"));

        if (value.Collection === "Deep"){
          var label = document.createElement("label")
          var btn = document.createElement("button");
          btn.onclick = function jsFunc() {window.location='/results/'+value.HASH};
          btn.innerHTML = "Details"
          div.appendChild(label);
          div.appendChild(btn);
          div.appendChild(document.createElement("br"));
        }

        var label = document.createElement("label")
        var btn = document.createElement("button");
        btn.onclick = function(){ rmv(value.HASH); };
        btn.innerHTML = "Remove"
        div.appendChild(label);
        div.appendChild(btn);

        div.appendChild(document.createElement("br"));
        div.appendChild(document.createElement("br"));
        div.appendChild(document.createElement("br"));

        if (value.Collection === "Deep"){
          deepDiv.appendChild(div);
        }else if (value.Collection === "Simple"){
          simpleDiv.appendChild(div);
        }
      });
})
.catch(error => console.error('Error:', error));
}


if (refreshRate > 0){
  setInterval(function(){
     updateResults();
  }, (refreshRate*1000));
}

window.onload = function() {
    updateResults();
}

// function rmvAll(){
//   fetch("{{.}}/all", { method: "DELETE"})
//   updateResults();
// }

function rmv(hash){
  fetch("{{.}}/"+hash, { method: "DELETE"})
  .then((response) => {
    if (!response.ok) {
      throw new Error("Network response was not ok.");
    }
    })
    .then((data) => {
      updateResults();
    })
    .catch((error) => {
    console.error("Error deleting data:", error);
  });
  // updateResults();
}

function getCookie(name) {
  const cookies = document.cookie.split(';');
  const cookie = cookies.find(c => c.trim().startsWith(name + '='));
  return cookie ? cookie.split('=')[1] : null;
}

</script>
</body>
</html>
