<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css">
<style>
label, input,button {
  display: inline-block;
}
input, button {
  width:85%;
}
 label {
  width:11%;
}
</style>
</head>
<body>

<div class="page">
  <div class="center-button">
  <button onclick="rf()" style="display: block;">Refresh or not</button>
  <br>
  <button onclick="rmvAll()" style="display: block;">Clear</button>
  <br>
  <br>
</div>
  <div class="container">
        <div class="left">
          <div id="deep">
          </div>
          <br>
        </div>
        <div class="right">
          <div id="simple">
          </div>
          <br>
        </div>
  </div>
</div>

<script>
var refreshRate = parseInt(new URLSearchParams(window.location.search).get("refresh"));

var deepDiv = document.getElementById("deep");
var simpleDiv = document.getElementById("simple");


{{range $value := .}}
var div = document.createElement("div")


var label = document.createElement("label")
label.innerHTML = "IP and Time:"
var input = document.createElement("input")
input.type = "text"
input.value = "{{$value.IP}} \t\t\t {{$value.BrowserTime}}"
input.disabled = true
div.appendChild(label);
div.appendChild(input);
div.appendChild(document.createElement("br"));

var label = document.createElement("label")
label.innerHTML = "Url:"
var input = document.createElement("input")
input.type = "text"
input.value = "{{$value.Location}}"
input.disabled = true
div.appendChild(label);
div.appendChild(input);
div.appendChild(document.createElement("br"));

var label = document.createElement("label")
label.innerHTML = "Origin:"
var input = document.createElement("input")
input.type = "text"
input.value = "{{$value.Origin}}"
input.disabled = true
div.appendChild(label);
div.appendChild(input);
div.appendChild(document.createElement("br"));

var label = document.createElement("label")
label.innerHTML = "Referer:"
var input = document.createElement("input")
input.type = "text"
input.value = "{{$value.Referrer}}"
input.disabled = true
div.appendChild(label);
div.appendChild(input);
div.appendChild(document.createElement("br"));

var label = document.createElement("label")
label.innerHTML = "User Agent:"
var input = document.createElement("input")
input.type = "text"
input.value = "{{$value.UserAgent}}"
input.disabled = true
div.appendChild(label);
div.appendChild(input);
div.appendChild(document.createElement("br"));

if ("{{$value.Collection}}" === "Deep"){
  var label = document.createElement("label")
  var btn = document.createElement("button");
  btn.onclick = function jsFunc() {window.location='/results/{{$value.HASH}}'};
  btn.innerHTML = "Details"
  div.appendChild(label);
  div.appendChild(btn);
  div.appendChild(document.createElement("br"));
}

var label = document.createElement("label")
var btn = document.createElement("button");
btn.onclick = function(){ rmv("{{$value.HASH}}", "data"); };
btn.innerHTML = "Remove"
div.appendChild(label);
div.appendChild(btn);

div.appendChild(document.createElement("br"));
div.appendChild(document.createElement("br"));
div.appendChild(document.createElement("br"));

if ("{{$value.Collection}}" === "Deep"){
  deepDiv.appendChild(div);
}else if ("{{$value.Collection}}" === "Simple"){
  simpleDiv.appendChild(div);
}
{{end}}


if (refreshRate > 0){
  setInterval(function(){
     location.reload();
  }, (refreshRate*1000));
}

function rf(){
  if (refreshRate > 0){
    window.location = window.location.pathname;
  }else{
    window.location=  "?refresh=15";
  }
}

function rmvAll(){
  fetch("/results/all", { method: "DELETE"})
  location.reload();
}

function rmv(hash, c){
  fetch("/results/"+hash+"?c="+c, { method: "DELETE"})
  location.reload();
}


</script>
</body>
</html>
