<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
  <style>
  input, textarea {
    width: 100%;
  }

</style>
</head>
<body>
<div class="page">
<div class="container">
<div class="left">

<label for="browser-time">Time</label>
<br>
<input type="text" id="browser-time" name="browser-time" disabled value="{{$.BrowserTime}}">

<br><br>

<label for="browser-time">IP</label>
<br>
<input type="text" id="ip" name="ip" disabled value="{{$.IP}}">

<br><br>

<label for="location">Location</label>
<br>
<input type="text" id="location" name="location" disabled value="{{.Location}}">

<br><br>

<label for="origin">Origin</label>
<br>
<input type="text" id="origin" name="origin" disabled value="{{.Origin}}">

<br><br>

<label for="referrer">Referrer</label>
<br>
<input type="text" id="referrer" name="referrer" disabled value="{{.Referrer}}">

<br><br>

<label for="user-agent">User Agent</label>
<br>
<input type="text" id="user-agent" name="user-agent" disabled  value="{{.UserAgent}}">

<br><br>

<label for="cookies">Cookies</label>
<br>
<textarea id="cookies" name="cookies" disabled style="height:400px">{{.Cookies}}</textarea>


</div>
<div class="right">
<label for="dom">DOM</label>
<textarea id="dom" name="dom" disabled style="height:90%">{{.DOM}}</textarea>
</div>
</div>

<img src="{{.Screenshot}}" width="100%" height="auto">
</div>
</body>
</html>
