<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css">
<style>
label, input,button {
  display: inline-block;
}
input, button {
  width:85%;
}
 label {
  width:11%;
}
</style>
</head>
<body>

<div class="page">
  <div class="center-button">
  <button onclick="rf()" style="display: block;">Refresh or not</button>
  <br>
  <button onclick="rmvAll()" style="display: block;">Clear</button>
  <br>
  <br>
</div>
  <div class="container">
        <div class="left">
          <div id="data">
          </div>
          <br>
        </div>
        <div class="right">
          <div id="request">
          </div>
          <br>
        </div>
  </div>
</div>

<script>
var isRefreshing = new URLSearchParams(window.location.search).get("refresh") !== null;

var dataDiv = document.getElementById("data");
var requestDiv = document.getElementById("request");


{{range $value := .DeepData}}
var div = document.createElement("div")


var label = document.createElement("label")
label.innerHTML = "IP and Time:"
var input = document.createElement("input")
input.type = "text"
input.value = "{{$value.IP}} \t\t\t {{$value.BrowserTime}}"
input.disabled = true
div.appendChild(label);
div.appendChild(input);
div.appendChild(document.createElement("br"));

var label = document.createElement("label")
label.innerHTML = "Url:"
var input = document.createElement("input")
input.type = "text"
input.value = "{{$value.Location}}"
input.disabled = true
div.appendChild(label);
div.appendChild(input);
div.appendChild(document.createElement("br"));

var label = document.createElement("label")
label.innerHTML = "Origin:"
var input = document.createElement("input")
input.type = "text"
input.value = "{{$value.Origin}}"
input.disabled = true
div.appendChild(label);
div.appendChild(input);
div.appendChild(document.createElement("br"));

var label = document.createElement("label")
label.innerHTML = "Referer:"
var input = document.createElement("input")
input.type = "text"
input.value = "{{$value.Referrer}}"
input.disabled = true
div.appendChild(label);
div.appendChild(input);
div.appendChild(document.createElement("br"));

var label = document.createElement("label")
label.innerHTML = "User Agent:"
var input = document.createElement("input")
input.type = "text"
input.value = "{{$value.UserAgent}}"
input.disabled = true
div.appendChild(label);
div.appendChild(input);
div.appendChild(document.createElement("br"));

var label = document.createElement("label")
var btn = document.createElement("button");
btn.onclick = function jsFunc() {window.location='/results/{{$value.HASH}}'};
btn.innerHTML = "Details"
div.appendChild(label);
div.appendChild(btn);
div.appendChild(document.createElement("br"));

var label = document.createElement("label")
var btn = document.createElement("button");
btn.onclick = function(){ rmv("{{$value.HASH}}", "data"); };
btn.innerHTML = "Remove"
div.appendChild(label);
div.appendChild(btn);

div.appendChild(document.createElement("br"));
div.appendChild(document.createElement("br"));
div.appendChild(document.createElement("br"));

dataDiv.appendChild(div);
{{end}}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
{{range $value := .Request}}
var div = document.createElement("div")

var label = document.createElement("label")
label.innerHTML = "IP and Time:"
var input = document.createElement("input")
input.type = "text"
input.value = "{{$value.IP}} \t\t\t {{$value.BrowserTime}}"
input.disabled = true
div.appendChild(label);
div.appendChild(input);
div.appendChild(document.createElement("br"));

var label = document.createElement("label")
label.innerHTML = "Url:"
var input = document.createElement("input")
input.type = "text"
input.value = "[{{$value.Method}}] {{$value.Location}}"
input.disabled = true
div.appendChild(label);
div.appendChild(input);
div.appendChild(document.createElement("br"));

var label = document.createElement("label")
label.innerHTML = "Origin:"
var input = document.createElement("input")
input.type = "text"
input.value = "{{$value.Origin}}"
input.disabled = true
div.appendChild(label);
div.appendChild(input);
div.appendChild(document.createElement("br"));

var label = document.createElement("label")
label.innerHTML = "Referer:"
var input = document.createElement("input")
input.type = "text"
input.value = "{{$value.Referrer}}"
input.disabled = true
div.appendChild(label);
div.appendChild(input);
div.appendChild(document.createElement("br"));

var label = document.createElement("label")
label.innerHTML = "User Agent:"
var input = document.createElement("input")
input.type = "text"
input.value = "{{$value.UserAgent}}"
input.disabled = true
div.appendChild(label);
div.appendChild(input);
div.appendChild(document.createElement("br"));

var label = document.createElement("label")
var btn = document.createElement("button");
btn.onclick = function(){ rmv("{{$value.HASH}}", "request"); };
btn.innerHTML = "Remove"
div.appendChild(label);
div.appendChild(btn);

div.appendChild(document.createElement("br"));
div.appendChild(document.createElement("br"));
div.appendChild(document.createElement("br"));

requestDiv.appendChild(div);
{{end}}

if (isRefreshing){
  setInterval(function(){
     location.reload();
  }, 5000);
}

function rf(){
  if (isRefreshing){
    window.location = window.location.href.split("?")[0];
  }else{
    window.location=  "?refresh";
  }
}

function rmvAll(){
  fetch("/results/all", { method: "DELETE"})
  location.reload();
}

function rmv(hash, c){
  fetch("/results/"+hash+"?c="+c, { method: "DELETE"})
  location.reload();
}


</script>
</body>
</html>
