@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;1,400&display=swap');

body {
font-family: 'Roboto Mono', monospace;
background-color: #180F18;
color: #fff;
font-size: 18px;
}
input, textarea, button, select {
font-family: 'Roboto Mono', monospace;
background-color: #372337;
border-radius: 6px;
color: #fff;
font-size:18px;

}
input,button,select{
text-align:center;
padding: 3px
}
button,select{
border-color:#D62698;
margin-top:5px;
background-color: #180F18;
color:#F309A1;
}
label{
text-align:right;
padding:10px;
}

.center-button {
display: flex;
width:30%;
text-align: center;
flex-direction: column;
margin:0 auto;
}

.page{
padding:40px;
}

.container {
display: flex;
flex-direction: row;
width:100%;
height:1000px;
}
.left {
width: 50%;
height:100%;
padding-right: 2%;
}
.right {
height:100%;
width: 50%;
padding-left: 2%;
}
