@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;1,400&display=swap');

body {
font-family: 'Roboto Mono', monospace;
background-color: #180F18;
color: #fff;
font-size: 22px;
}
input, textarea, button, select {
font-family: 'Roboto Mono', monospace;
background-color: #372337;
border-radius: 6px;
color: #fff;
font-size:22px;

}
input,button,select{
text-align:center;
padding: 3px
}
button,select{
border-color:#D62698;
margin-top:5px;
background-color: #180F18;
color:#F309A1;
}
label{
text-align:center;
padding:10px;
}

.center-button {
display: flex;
width:30%;
text-align: center;
flex-direction: column;
margin:0 auto;
}

.page{
padding:60px;
}

.container {
background-color:#0e090e;
height:auto;
padding: 20px 160px;
}
.left {
width: 50%;
height:100%;
padding-right: 2%;
}
.right {
height:100%;
width: 50%;
padding-left: 2%;
}

[onclick] {
  cursor: pointer;
}


#wlistTable th,
#wlistTable td,
#pfolioTable th,
#pfolioTable td {
    width: auto; /* This allows the columns to adjust based on content */
    min-width: 100px; 
}

.buttons-datachanger {
    display: flex;
    justify-content: center;
  }
  .buttons-datachanger button {
    width: 200px; 
    margin: 10px; 
  }


  .monthlyTable table {
    width: 100%;
  }
  .monthlyTable th,
  .monthlyTable td {
    width: 7.6%;
    height: 100px;
    text-align: center;
  }